@tailwind base;
@tailwind components;
@tailwind utilities;

.lpb-btn {
    @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded;
}

.lbp-submit-btn {
    @apply inline-flex items-center px-4 py-2 bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150;
}

.lpb-edit-btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.lpb-delete-btn {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded;
}

.lbp-input {
    @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm;
}

.lbp-update-btn {
    @apply inline-flex items-center px-4 py-2 text-xs uppercase tracking-widest border-2 rounded-md font-semibold bg-blue-600 dark:bg-gray-200 hover:bg-blue-500 dark:hover:bg-white text-white dark:text-gray-800;
}

.lbp-delete-button {
    @apply px-3 py-2 rounded-md bg-red-600 hover:bg-red-500 text-white;
}

.lbp-label {
    /* @apply uppercase block mb-2 text-xs font-bold text-gray-700; */
    @apply block font-medium text-sm text-gray-700 dark:text-gray-300;
}

.lbp-input {
    /* @apply block w-full border border-gray-200 px-4 py-3 leading-tight text-gray-700 rounded appearance-none; */
    @apply border-2 border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm mt-1 block w-full;
}


.ts-wrapper {
    @apply w-full !ml-0;
}

.ts-control {
    @apply shadow-sm  rounded-lg border-gray-300 bg-white dark:bg-gray-900 py-2 px-3 text-base;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}

.ts-control input {
    @apply text-gray-700 dark:text-gray-100;
}

.ts-dropdown {
    @apply rounded-md border border-solid border-t border-gray-300 text-base dark:bg-gray-900 dark:text-gray-100;
}

/*.ts-dropdown-content div.option:hover {
    @apply bg-blue-600 text-gray-100;
}*/

.ts-dropdown [data-selectable].option:first-child {
    @apply rounded-t-lg;
}

.ts-dropdown [data-selectable].option:last-child {
    @apply rounded-b-lg;
}

.ts-dropdown .create:hover, .ts-dropdown .option:hover{
    @apply bg-sky-50 text-sky-900;
}

.ts-dropdown .active {
    @apply bg-gray-100 text-gray-900;
}
